<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.network">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <provider
            android:name=".http.HTTPx$Initializer"
            android:authorities="${applicationId}.httpx"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>
